# Investment Valuation Model: Rental Housing for 2028 Olympics

- Q: What are we trying to do?
- A: Find undervalued properties near 2028 Olympic venues to purchase and maximize resale value.

## How do we do that?: Goals, tasks, methods of study
    A: Utilizing quantative and qualative data to analyze strategic investment opportunities, - we have identified relevant communities by targeting commercial sports venues with the highest per ticket cost and the proprties proximity to interstates or freeways. The idea behind that is that folks who spend more per ticket will likely have more disposable income and will frequent sports events more often.
       
       Opening ceremonies are planned to be held at the rising Los Angeles Rams stadium in Inglewood, with a simultaneous event at the Los Angeles Memorial Coliseum, tickets for the kickoff of the games are expected to come with an average price tag of $1,783. Closing ceremonies at the Coliseum will be somewhat less, with an average ticket price of $1,226.

# TODO
- Pull in the data
- filter for the real estate locations
    - Anehiem
    - Inglewood
    - Long Beach
- Whats the average/median home price?


data source:

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Assessor_Parcel_Data_2020.csv', low_memory=False)

In [3]:
data.head()

,ZIPcode,TaxRateArea_CITY,AIN,RollYear,TaxRateArea,AssessorID,PropertyLocation,PropertyType,PropertyUseCode,GeneralUseType,...,HouseFraction,StreetDirection,StreetName,UnitNo,City,ZIPcode5,rowID,CENTER_LAT,CENTER_LON,Location 1
0,NaN,LOS ANGELES,2045024042,2020,16,2045-024-042,NaN,VAC,010V,Residential,...,NaN,NaN,NaN,NaN,NaN,NaN,20202045024042,34.174612,-118.643596,"(34.17461221, -118.64359601)"
1,NaN,CALABASAS,2068024045,2020,10934,2068-024-045,NaN,VAC,010V,Residential,...,NaN,NaN,NaN,NaN,NaN,NaN,20202068024045,34.145119,-118.639114,"(34.14511874, -118.63911416)"
2,NaN,CALABASAS,2068030009,2020,14999,2068-030-009,NaN,VAC,100V,Commercial,...,NaN,NaN,NaN,NaN,NaN,NaN,20202068030009,34.151334,-118.645489,"(34.15133409, -118.64548912)"
3,NaN,CALABASAS,2069006022,2020,11039,2069-006-022,NaN,VAC,010V,Residential,...,NaN,NaN,NaN,NaN,NaN,NaN,20202069006022,34.140957,-118.654253,"(34.14095747, -118.65425294)"
4,NaN,LOS ANGELES,2076004025,2020,37,2076-004-025,NaN,VAC,010V,Residential,...,NaN,NaN,NaN,NaN,NaN,NaN,20202076004025,34.158058,-118.619647,"(34.15805751, -118.6196468)"

In [4]:
list(data.columns)

['ZIPcode',
 'TaxRateArea_CITY',
 'AIN',
 'RollYear',
 'TaxRateArea',
 'AssessorID',
 'PropertyLocation',
 'PropertyType',
 'PropertyUseCode',
 'GeneralUseType',
 'SpecificUseType',
 'SpecificUseDetail1',
 'SpecificUseDetail2',
 'totBuildingDataLines',
 'YearBuilt',
 'EffectiveYearBuilt',
 'SQFTmain',
 'Bedrooms',
 'Bathrooms',
 'Units',
 'RecordingDate',
 'LandValue',
 'LandBaseYear',
 'ImprovementValue',
 'ImpBaseYear',
 'TotalLandImpValue',
 'HomeownersExemption',
 'RealEstateExemption',
 'FixtureValue',
 'FixtureExemption',
 'PersonalPropertyValue',
 'PersonalPropertyExemption',
 'isTaxableParcel?',
 'TotalValue',
 'TotalExemption',
 'netTaxableValue',
 'SpecialParcelClassification',
 'AdministrativeRegion',
 'Cluster',
 'ParcelBoundaryDescription',
 'HouseNo',
 'HouseFraction',
 'StreetDirection',
 'StreetName',
 'UnitNo',
 'City',
 'ZIPcode5',
 'rowID',
 'CENTER_LAT',
 'CENTER_LON',
 'Location 1']

In [5]:
# find the cols I need and make the dataset smaller
cols = ['AIN', 'Bedrooms', 'Bathrooms', 'City', 'ZIPcode5', 'SQFTmain',  'AssessorID', 'PropertyLocation', 'PropertyType', 'TaxRateArea_CITY', 'TaxRateArea']
df = data[cols]
df

,AIN,Bedrooms,Bathrooms,City,ZIPcode5,SQFTmain,AssessorID,PropertyLocation,PropertyType,TaxRateArea_CITY,TaxRateArea
0,2045024042,0,0,NaN,NaN,0,2045-024-042,NaN,VAC,LOS ANGELES,16
1,2068024045,0,0,NaN,NaN,0,2068-024-045,NaN,VAC,CALABASAS,10934
2,2068030009,0,0,NaN,NaN,0,2068-030-009,NaN,VAC,CALABASAS,14999
3,2069006022,0,0,NaN,NaN,0,2069-006-022,NaN,VAC,CALABASAS,11039
4,2076004025,0,0,NaN,NaN,0,2076-004-025,NaN,VAC,LOS ANGELES,37
...,...,...,...,...,...,...,...,...,...,...,...
2409421,8740022006,4,3,WEST COVINA CA,91791.0,2575,8740-022-006,1547 CAMBRIDGE CT WEST COVINA CA 91791,SFR,WEST COVINA,9498
2409422,8763013091,2,2,DIAMOND BAR CA,91789.0,1518,8763-013-091,1123 LOXLEY PL DIAMOND BAR CA 91789,SFR,DIAMOND BAR,10085
2409423,8763013012,2,2,DIAMOND BAR CA,91789.0,1760,8763-013-012,1102 S CROFTER DR DIAMOND BAR CA 91789,SFR,DIAMOND BAR,10085
2409424,8743015004,3,2,WEST COVINA CA,91792.0,1152,8743-015-004,2124 EVENINGSIDE DR WEST COVINA CA 91792,CND,WEST COVINA,8418
2409425,8762004037,4,3,ROWLAND HTS CA,91748.0,1902,8762-004-037,1632 BANIDA AVE ROWLAND HTS CA 91748,SFR,unincorporated,8322

In [6]:
# data['TaxRateArea_CITY'].value_counts()[:30]

In [7]:
# filter for the areas we want

olympic_areas = ['LONG BEACH', 'INGLEWOOD']
filtered_df = df[df['TaxRateArea_CITY'].isin(olympic_areas)]
filtered_df

,AIN,Bedrooms,Bathrooms,City,ZIPcode5,SQFTmain,AssessorID,PropertyLocation,PropertyType,TaxRateArea_CITY,TaxRateArea
162,4013028900,0,0,NaN,NaN,0,4013-028-900,NaN,OTH,INGLEWOOD,4569
163,4015014007,0,0,NaN,NaN,0,4015-014-007,NaN,VAC,INGLEWOOD,4569
164,4024030004,0,0,NaN,NaN,0,4024-030-004,NaN,VAC,INGLEWOOD,4569
165,4027015900,0,0,NaN,NaN,0,4027-015-900,NaN,OTH,INGLEWOOD,4569
166,4030003909,0,0,NaN,NaN,0,4030-003-909,NaN,VAC,INGLEWOOD,4596
...,...,...,...,...,...,...,...,...,...,...,...
1942188,7431001034,2,2,LONG BEACH CA,90810.0,1178,7431-001-034,2188 SANTA FE AVE LONG BEACH CA 90810,CND,LONG BEACH,4992
1942197,7429041027,0,0,LONG BEACH CA,90813.0,5485,7429-041-027,1345 SEABRIGHT AVE LONG BEACH CA 90813,C/I,LONG BEACH,5521
1942206,7429020054,0,0,LONG BEACH CA,90813.0,10400,7429-020-054,2135 W 15TH ST LONG BEACH CA 90813,C/I,LONG BEACH,5521
1942208,7436008907,0,0,NaN,NaN,0,7436-008-907,NaN,OTH,LONG BEACH,5521
1942216,7432005048,0,0,LONG BEACH CA,90813.0,19500,7432-005-048,1550 COTA AVE LONG BEACH CA 90813,C/I,LONG BEACH,5521