In [1]:
import pandas as pd
import geopandas
import folium

In [6]:
df = pd.DataFrame()

In [7]:
df

Empty DataFrame
Columns: []
Index: []

In [9]:
pd.DataFrame([1,2,3,4,5,6])

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [19]:
names = {'name': ['smith', 'james', None], 'age': [ 25, 30, 0], 'hobby': ['tv', 'tv', None]}
names

{'name': ['smith', 'james', None],
 'age': [25, 30, 0],
 'hobby': ['tv', 'tv', None]}

In [21]:
df = pd.DataFrame(names)
df

    name  age hobby
0  smith   25    tv
1  james   30    tv
2   None    0  None

In [23]:
df['name'] = df.name.str.upper()

In [26]:
df = df.dropna()

In [27]:
df

    name  age hobby
0  SMITH   25    tv
1  JAMES   30    tv

In [29]:
import json

In [34]:
data = json.load(open('data.json'))

In [50]:
data['meta']['view']

{'id': '7yq2-hq9c',
 'name': 'Department for the Aging (DFTA) Geriatric Mental Health Contracted Providers',
 'assetType': 'dataset',
 'attribution': 'Department for the Aging (DFTA)',
 'averageRating': 0,
 'category': 'Social Services',
 'createdAt': 1546875094,
 'description': 'Listing of DFTA Geriatric Mental Health Contracts Information and Hours of Operation.',
 'displayType': 'table',
 'downloadCount': 13620,
 'hideFromCatalog': False,
 'hideFromDataJson': False,
 'indexUpdatedAt': 1565617138,
 'newBackend': True,
 'numberOfComments': 0,
 'oid': 30532207,
 'provenance': 'official',
 'publicationAppendEnabled': True,
 'publicationDate': 1546875404,
 'publicationGroup': 15839604,
 'publicationStage': 'published',
 'rowClass': '',
 'rowsUpdatedAt': 1621062672,
 'rowsUpdatedBy': '5fuc-pqz2',
 'tableId': 15839604,
 'totalTimesRated': 0,
 'viewCount': 652,
 'viewLastModified': 1621062524,
 'viewType': 'tabular',
 'approvals': [{'reviewedAt': 1546875404,
   'reviewedAutomatically': True,
   'state': 'approved',
   'submissionId': 1078118,
   'submissionObject': 'public_audience_request',
   'submissionOutcome': 'change_audience',
   'submittedAt': 1546875404,
   'workflowId': 2285,
   'submissionDetails': {'permissionType': 'READ'},
   'submissionOutcomeApplication': {'failureCount': 0, 'status': 'success'},
   'submitter': {'id': '5fuc-pqz2', 'displayName': 'NYC OpenData'}}],
 'columns': [{'id': -1,
   'name': 'sid',
   'dataTypeName': 'meta_data',
   'fieldName': ':sid',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {},
   'flags': ['hidden']},
  {'id': -1,
   'name': 'id',
   'dataTypeName': 'meta_data',
   'fieldName': ':id',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {},
   'flags': ['hidden']},
  {'id': -1,
   'name': 'position',
   'dataTypeName': 'meta_data',
   'fieldName': ':position',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {},
   'flags': ['hidden']},
  {'id': -1,
   'name': 'created_at',
   'dataTypeName': 'meta_data',
   'fieldName': ':created_at',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {},
   'flags': ['hidden']},
  {'id': -1,
   'name': 'created_meta',
   'dataTypeName': 'meta_data',
   'fieldName': ':created_meta',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {},
   'flags': ['hidden']},
  {'id': -1,
   'name': 'updated_at',
   'dataTypeName': 'meta_data',
   'fieldName': ':updated_at',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {},
   'flags': ['hidden']},
  {'id': -1,
   'name': 'updated_meta',
   'dataTypeName': 'meta_data',
   'fieldName': ':updated_meta',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {},
   'flags': ['hidden']},
  {'id': -1,
   'name': 'meta',
   'dataTypeName': 'meta_data',
   'fieldName': ':meta',
   'position': 0,
   'renderTypeName': 'meta_data',
   'format': {},
   'flags': ['hidden']},
  {'id': 390669114,
   'name': 'ProviderType',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'providertype',
   'position': 1,
   'renderTypeName': 'text',
   'tableColumnId': 75398318,
   'cachedContents': {'largest': 'GERIATRIC MENTAL HEALTH SERVICES CONTRACTS',
    'non_null': '4',
    'null': '0',
    'top': [{'item': 'GERIATRIC MENTAL HEALTH SERVICES CONTRACTS',
      'count': '4'}],
    'smallest': 'GERIATRIC MENTAL HEALTH SERVICES CONTRACTS',
    'not_null': '4',
    'cardinality': '1'},
   'format': {}},
  {'id': 390669108,
   'name': 'DFTA ID',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'dfta_id',
   'position': 2,
   'renderTypeName': 'text',
   'tableColumnId': 75398312,
   'cachedContents': {'largest': '5G301',
    'non_null': '4',
    'null': '0',
    'top': [{'item': '3G101', 'count': '1'},
     {'item': '5G301', 'count': '1'},
     {'item': '4G801', 'count': '1'},
     {'item': '1G701', 'count': '1'}],
    'smallest': '1G701',
    'not_null': '4',
    'cardinality': '4'},
   'format': {}},
  {'id': 390669101,
   'name': 'ProgramName',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'programname',
   'position': 3,
   'renderTypeName': 'text',
   'tableColumnId': 75398305,
   'cachedContents': {'largest': 'WEILL CORNELL MENTAL HEALTH',
    'non_null': '4',
    'null': '0',
    'top': [{'item': 'WEILL CORNELL MENTAL HEALTH', 'count': '1'},
     {'item': 'SAMUEL FIELD MENTAL HEALTH', 'count': '1'},
     {'item': 'SPOP MENTAL HEALTH', 'count': '1'},
     {'item': 'JASA MENTAL HEALTH', 'count': '1'}],
    'smallest': 'JASA MENTAL HEALTH',
    'not_null': '4',
    'cardinality': '4'},
   'format': {}},
  {'id': 390669106,
   'name': 'SponsorName',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'sponsorname',
   'position': 4,
   'renderTypeName': 'text',
   'tableColumnId': 75398310,
   'cachedContents': {'largest': 'WEILL MEDICAL COLLEGE OF CORNELL UNIVERSITY',
    'non_null': '4',
    'null': '0',
    'top': [{'item': 'THE JEWISH ASSOCIATION FOR SERVICES FOR THE AGED',
      'count': '1'},
     {'item': 'SERVICE PROGRAM FOR OLDER PEOPLE INC', 'count': '1'},
     {'item': 'WEILL MEDICAL COLLEGE OF CORNELL UNIVERSITY', 'count': '1'},
     {'item': 'SAMUEL FIELD YM & YWHA INC', 'count': '1'}],
    'smallest': 'SAMUEL FIELD YM & YWHA INC',
    'not_null': '4',
    'cardinality': '4'},
   'format': {}},
  {'id': 390669113,
   'name': 'ProgramAddress',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'programaddress',
   'position': 5,
   'renderTypeName': 'text',
   'tableColumnId': 75398317,
   'cachedContents': {'largest': '58-20 Little Neck Parkway',
    'non_null': '4',
    'null': '0',
    'top': [{'item': '58-20 Little Neck Parkway', 'count': '1'},
     {'item': '478 1st Street', 'count': '1'},
     {'item': '302 WEST 91ST STREET', 'count': '1'},
     {'item': '1 Fordham Plaza', 'count': '1'}],
    'smallest': '1 Fordham Plaza',
    'not_null': '4',
    'cardinality': '4'},
   'format': {}},
  {'id': 390669094,
   'name': 'ProgramCity',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'programcity',
   'position': 6,
   'renderTypeName': 'text',
   'tableColumnId': 75398298,
   'cachedContents': {'largest': 'NEW YORK',
    'non_null': '4',
    'null': '0',
    'top': [{'item': 'NEW YORK', 'count': '2'},
     {'item': 'BRONX', 'count': '1'},
     {'item': 'FLUSHING', 'count': '1'}],
    'smallest': 'BRONX',
    'not_null': '4',
    'cardinality': '3'},
   'format': {}},
  {'id': 390669115,
   'name': 'ProgramState',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'programstate',
   'position': 7,
   'renderTypeName': 'text',
   'tableColumnId': 75398319,
   'cachedContents': {'largest': 'NY',
    'non_null': '4',
    'null': '0',
    'top': [{'item': 'NY', 'count': '4'}],
    'smallest': 'NY',
    'not_null': '4',
    'cardinality': '1'},
   'format': {}},
  {'id': 390669085,
   'name': 'Postcode',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'postcode',
   'position': 8,
   'renderTypeName': 'number',
   'tableColumnId': 75398289,
   'cachedContents': {'largest': '11362',
    'non_null': '4',
    'average': '10463.5',
    'null': '0',
    'top': [{'item': '11362', 'count': '1'},
     {'item': '10458', 'count': '1'},
     {'item': '10024', 'count': '1'},
     {'item': '10010', 'count': '1'}],
    'smallest': '10010',
    'not_null': '4',
    'sum': '41854',
    'cardinality': '4'},
   'format': {'noCommas': 'true'}},
  {'id': 390669100,
   'name': 'Borough',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'borough',
   'position': 9,
   'renderTypeName': 'text',
   'tableColumnId': 75398304,
   'cachedContents': {'largest': 'QUEENS',
    'non_null': '4',
    'null': '0',
    'top': [{'item': 'MANHATTAN', 'count': '2'},
     {'item': 'QUEENS', 'count': '1'},
     {'item': 'BRONX', 'count': '1'}],
    'smallest': 'BRONX',
    'not_null': '4',
    'cardinality': '3'},
   'format': {}},
  {'id': 390669093,
   'name': 'ProgramPhone',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'programphone',
   'position': 10,
   'renderTypeName': 'text',
   'tableColumnId': 75398297,
   'cachedContents': {'largest': '914-997-4333',
    'non_null': '4',
    'null': '0',
    'top': [{'item': '914-997-4333', 'count': '1'},
     {'item': '718-365-4044', 'count': '1'},
     {'item': '718-225-6750', 'count': '1'},
     {'item': '212-787-7120', 'count': '1'}],
    'smallest': '212-787-7120',
    'not_null': '4',
    'cardinality': '4'},
   'format': {}},
  {'id': 390669091,
   'name': 'DFTA Funded',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'dfta_funded',
   'position': 11,
   'renderTypeName': 'text',
   'tableColumnId': 75398295,
   'cachedContents': {'largest': 'Y',
    'non_null': '4',
    'null': '0',
    'top': [{'item': 'Y', 'count': '4'}],
    'smallest': 'Y',
    'not_null': '4',
    'cardinality': '1'},
   'format': {}},
  {'id': 390669089,
   'name': 'MonHourOpen',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'monhouropen',
   'position': 12,
   'renderTypeName': 'text',
   'tableColumnId': 75398293,
   'cachedContents': {'non_null': '4',
    'largest': '9 :00',
    'null': '0',
    'top': [{'item': '09:00', 'count': '2'},
     {'item': '8 :00', 'count': '1'},
     {'item': '9 :00', 'count': '1'}],
    'not_null': '4',
    'smallest': '09:00',
    'cardinality': '3'},
   'format': {}},
  {'id': 390669102,
   'name': 'MonHourClose',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'monhourclose',
   'position': 13,
   'renderTypeName': 'text',
   'tableColumnId': 75398306,
   'cachedContents': {'non_null': '4',
    'largest': '5 :00',
    'null': '0',
    'top': [{'item': '5 :00', 'count': '2'},
     {'item': '4 :00', 'count': '1'},
     {'item': '05:00', 'count': '1'}],
    'not_null': '4',
    'smallest': '05:00',
    'cardinality': '3'},
   'format': {}},
  {'id': 390669110,
   'name': 'TueHourOpen',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'tuehouropen',
   'position': 14,
   'renderTypeName': 'text',
   'tableColumnId': 75398314,
   'cachedContents': {'non_null': '4',
    'largest': '9 :00',
    'null': '0',
    'top': [{'item': '09:00', 'count': '2'},
     {'item': '8 :00', 'count': '1'},
     {'item': '9 :00', 'count': '1'}],
    'not_null': '4',
    'smallest': '09:00',
    'cardinality': '3'},
   'format': {}},
  {'id': 390669084,
   'name': 'TueHourClose',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'tuehourclose',
   'position': 15,
   'renderTypeName': 'text',
   'tableColumnId': 75398288,
   'cachedContents': {'non_null': '4',
    'largest': '5 :00',
    'null': '0',
    'top': [{'item': '5 :00', 'count': '2'},
     {'item': '4 :00', 'count': '1'},
     {'item': '05:00', 'count': '1'}],
    'not_null': '4',
    'smallest': '05:00',
    'cardinality': '3'},
   'format': {}},
  {'id': 390669090,
   'name': 'WedHourOpen',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'wedhouropen',
   'position': 16,
   'renderTypeName': 'text',
   'tableColumnId': 75398294,
   'cachedContents': {'non_null': '4',
    'largest': '9 :00',
    'null': '0',
    'top': [{'item': '09:00', 'count': '2'},
     {'item': '8 :00', 'count': '1'},
     {'item': '9 :00', 'count': '1'}],
    'not_null': '4',
    'smallest': '09:00',
    'cardinality': '3'},
   'format': {}},
  {'id': 390669086,
   'name': 'WedHourClose',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'wedhourclose',
   'position': 17,
   'renderTypeName': 'text',
   'tableColumnId': 75398290,
   'cachedContents': {'non_null': '4',
    'largest': '5 :00',
    'null': '0',
    'top': [{'item': '5 :00', 'count': '2'},
     {'item': '4 :00', 'count': '1'},
     {'item': '05:00', 'count': '1'}],
    'not_null': '4',
    'smallest': '05:00',
    'cardinality': '3'},
   'format': {}},
  {'id': 390669112,
   'name': 'ThuHourOpen',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'thuhouropen',
   'position': 18,
   'renderTypeName': 'text',
   'tableColumnId': 75398316,
   'cachedContents': {'non_null': '4',
    'largest': '9 :00',
    'null': '0',
    'top': [{'item': '09:00', 'count': '2'},
     {'item': '8 :00', 'count': '1'},
     {'item': '9 :00', 'count': '1'}],
    'not_null': '4',
    'smallest': '09:00',
    'cardinality': '3'},
   'format': {}},
  {'id': 390669111,
   'name': 'ThuHourClose',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'thuhourclose',
   'position': 19,
   'renderTypeName': 'text',
   'tableColumnId': 75398315,
   'cachedContents': {'non_null': '4',
    'largest': '5 :00',
    'null': '0',
    'top': [{'item': '5 :00', 'count': '2'},
     {'item': '4 :00', 'count': '1'},
     {'item': '05:00', 'count': '1'}],
    'not_null': '4',
    'smallest': '05:00',
    'cardinality': '3'},
   'format': {}},
  {'id': 390669092,
   'name': 'FriHourOpen',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'frihouropen',
   'position': 20,
   'renderTypeName': 'text',
   'tableColumnId': 75398296,
   'cachedContents': {'non_null': '4',
    'largest': '9 :00',
    'null': '0',
    'top': [{'item': '09:00', 'count': '2'},
     {'item': '8 :00', 'count': '1'},
     {'item': '9 :00', 'count': '1'}],
    'not_null': '4',
    'smallest': '09:00',
    'cardinality': '3'},
   'format': {}},
  {'id': 390669095,
   'name': 'FriHourClose',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'frihourclose',
   'position': 21,
   'renderTypeName': 'text',
   'tableColumnId': 75398299,
   'cachedContents': {'non_null': '4',
    'largest': '5 :00',
    'null': '0',
    'top': [{'item': '5 :00', 'count': '2'},
     {'item': '4 :00', 'count': '1'},
     {'item': '05:00', 'count': '1'}],
    'not_null': '4',
    'smallest': '05:00',
    'cardinality': '3'},
   'format': {}},
  {'id': 390669116,
   'name': 'SatHourOpen',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'sathouropen',
   'position': 22,
   'renderTypeName': 'text',
   'tableColumnId': 75398320,
   'cachedContents': {'non_null': '4',
    'largest': '00:00',
    'null': '0',
    'top': [{'item': '00:00', 'count': '4'}],
    'not_null': '4',
    'smallest': '00:00',
    'cardinality': '1'},
   'format': {}},
  {'id': 390669088,
   'name': 'SatHourClose',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'sathourclose',
   'position': 23,
   'renderTypeName': 'text',
   'tableColumnId': 75398292,
   'cachedContents': {'non_null': '4',
    'largest': '00:00',
    'null': '0',
    'top': [{'item': '00:00', 'count': '4'}],
    'not_null': '4',
    'smallest': '00:00',
    'cardinality': '1'},
   'format': {}},
  {'id': 390669107,
   'name': 'SunHourOpen',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'sunhouropen',
   'position': 24,
   'renderTypeName': 'text',
   'tableColumnId': 75398311,
   'cachedContents': {'non_null': '4',
    'largest': '00:00',
    'null': '0',
    'top': [{'item': '00:00', 'count': '4'}],
    'not_null': '4',
    'smallest': '00:00',
    'cardinality': '1'},
   'format': {}},
  {'id': 390669105,
   'name': 'SunHourClose',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'sunhourclose',
   'position': 25,
   'renderTypeName': 'text',
   'tableColumnId': 75398309,
   'cachedContents': {'non_null': '4',
    'largest': '00:00',
    'null': '0',
    'top': [{'item': '00:00', 'count': '4'}],
    'not_null': '4',
    'smallest': '00:00',
    'cardinality': '1'},
   'format': {}},
  {'id': 390669083,
   'name': 'Latitude',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'latitude',
   'position': 26,
   'renderTypeName': 'number',
   'tableColumnId': 75398287,
   'cachedContents': {'largest': '40.860739',
    'non_null': '4',
    'average': '40.77142975',
    'null': '0',
    'top': [{'item': '40.792171', 'count': '1'},
     {'item': '40.671232', 'count': '1'},
     {'item': '40.860739', 'count': '1'},
     {'item': '40.761577', 'count': '1'}],
    'smallest': '40.671232',
    'not_null': '4',
    'sum': '163.085719',
    'cardinality': '4'},
   'format': {}},
  {'id': 390669096,
   'name': 'Longitude',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'longitude',
   'position': 27,
   'renderTypeName': 'number',
   'tableColumnId': 75398300,
   'cachedContents': {'largest': '-73.723122',
    'non_null': '4',
    'average': '-73.8912705',
    'null': '0',
    'top': [{'item': '-73.723122', 'count': '1'},
     {'item': '-73.889585', 'count': '1'},
     {'item': '-73.975796', 'count': '1'},
     {'item': '-73.976579', 'count': '1'}],
    'smallest': '-73.976579',
    'not_null': '4',
    'sum': '-295.565082',
    'cardinality': '4'},
   'format': {}},
  {'id': 390669104,
   'name': 'Community Board',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'community_board',
   'position': 28,
   'renderTypeName': 'number',
   'tableColumnId': 75398308,
   'cachedContents': {'largest': '411',
    'non_null': '4',
    'average': '257.5',
    'null': '0',
    'top': [{'item': '206', 'count': '1'},
     {'item': '306', 'count': '1'},
     {'item': '411', 'count': '1'},
     {'item': '107', 'count': '1'}],
    'smallest': '107',
    'not_null': '4',
    'sum': '1030',
    'cardinality': '4'},
   'format': {}},
  {'id': 390669103,
   'name': 'Council District',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'council_district',
   'position': 29,
   'renderTypeName': 'number',
   'tableColumnId': 75398307,
   'cachedContents': {'largest': '39',
    'non_null': '4',
    'average': '20.75',
    'null': '0',
    'top': [{'item': '6', 'count': '1'},
     {'item': '23', 'count': '1'},
     {'item': '39', 'count': '1'},
     {'item': '15', 'count': '1'}],
    'smallest': '6',
    'not_null': '4',
    'sum': '83',
    'cardinality': '4'},
   'format': {}},
  {'id': 390669109,
   'name': 'Census Tract',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'census_tract',
   'position': 30,
   'renderTypeName': 'number',
   'tableColumnId': 75398313,
   'cachedContents': {'largest': '152902',
    'non_null': '4',
    'average': '38405.75',
    'null': '0',
    'top': [{'item': '387', 'count': '1'},
     {'item': '152902', 'count': '1'},
     {'item': '179', 'count': '1'},
     {'item': '155', 'count': '1'}],
    'smallest': '155',
    'not_null': '4',
    'sum': '153623',
    'cardinality': '4'},
   'format': {'noCommas': 'true'}},
  {'id': 390669098,
   'name': 'BIN',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'bin',
   'position': 31,
   'renderTypeName': 'number',
   'tableColumnId': 75398302,
   'cachedContents': {'largest': '4173029',
    'non_null': '4',
    'average': '2580154.75',
    'null': '0',
    'top': [{'item': '4173029', 'count': '1'},
     {'item': '2088325', 'count': '1'},
     {'item': '1034085', 'count': '1'},
     {'item': '3025180', 'count': '1'}],
    'smallest': '1034085',
    'not_null': '4',
    'sum': '10320619',
    'cardinality': '4'},
   'format': {'noCommas': 'true'}},
  {'id': 390669097,
   'name': 'BBL',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'bbl',
   'position': 32,
   'renderTypeName': 'number',
   'tableColumnId': 75398301,
   'cachedContents': {'largest': '4083520051',
    'non_null': '4',
    'average': '2534280036.25',
    'null': '0',
    'top': [{'item': '3010760019', 'count': '1'},
     {'item': '1012510022', 'count': '1'},
     {'item': '2030330053', 'count': '1'},
     {'item': '4083520051', 'count': '1'}],
    'smallest': '1012510022',
    'not_null': '4',
    'sum': '10137120145',
    'cardinality': '4'},
   'format': {'noCommas': 'true'}},
  {'id': 390669087,
   'name': 'NTA',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'nta',
   'position': 33,
   'renderTypeName': 'text',
   'tableColumnId': 75398291,

In [49]:
pd.DataFrame(data['data'])

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
0,row-gky5_phyq_pdke,00000000-0000-0000-ADA6-29498CA5EE22,0,1571165615,None,1571165619,None,{ },GERIATRIC MENTAL HEALTH SERVICES CONTRACTS,5G301,...,155,3025180,3010760019,Park Slope-Gowanus,"[{""address"": """", ""city"": """", ""state"": """", ""zip...",17617,14,2,27,50
1,row-2db5_qvv7-wwb8,00000000-0000-0000-3B17-81496B5B33CB,0,1571165615,None,1571165619,None,{ },GERIATRIC MENTAL HEALTH SERVICES CONTRACTS,3G101,...,179,1034085,1012510022,Upper West Side,"[{""address"": """", ""city"": """", ""state"": """", ""zip...",12421,20,4,19,15
2,row-agmb-xun8_9b6f,00000000-0000-0000-C015-DA84DB50F3DD,0,1571165615,None,1571165619,None,{ },GERIATRIC MENTAL HEALTH SERVICES CONTRACTS,4G801,...,152902,4173029,4083520051,Douglas Manor-Douglaston-Little Neck,"[{""address"": """", ""city"": """", ""state"": """", ""zip...",14197,26,3,16,69
3,row-ica2~65hs_2d9a,00000000-0000-0000-CCFA-F4BF99A5B375,0,1571165615,None,1571165619,None,{ },GERIATRIC MENTAL HEALTH SERVICES CONTRACTS,1G701,...,387,2088325,2030330053,Belmont,"[{""address"": """", ""city"": """", ""state"": """", ""zip...",10936,35,5,22,31